<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
          rel="stylesheet" />
    <link href="../assets/css/main.css" rel="stylesheet" />
    <link href="../assets/css/customStyle.css" rel="stylesheet" />
    <link href="../../css/all.min.css" rel="stylesheet" />
    <link href="../../css/bootstrap.min.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <style>
        .opener-footer {
            position: relative;
        }

        #divHistoryLinks {
            min-height: 360px;
        }

        .dropdown-menu {
            left: -75px !important;
        }

        .form-textbox {
            box-shadow: 0px 2px 4px rgb(0 0 0 / 25%);
            border-radius: 4px;
            border: none !important;
            color: #1A1A1A !important;
            opacity: 0.56 !important;
            height: 40px !important;
            padding: .375rem 1.3rem !important;
        }

        .text-box-top-margin {
            margin-top: 10px !important;
        }

        .update-btn-top-margin {
            margin-top: 34px !important;
        }

        .btn-update {
            background: #000000 !important;
            box-shadow: 0px 1px 1px rgb(0 0 0 / 25%) !important;
            border-radius: 4px !important;
            border-color: #000000 !important;
            height: 48px !important;
        }

        #divAccountSetting {
            min-height: 370px;
        }
    </style>
    <div class="row app-header">
        <div class="col-6 pl-4">
            <a href="dashBoard.html">
                <img src="../assets/images/linkHighLighterimages/v1_125.png" class="main-logo" />
            </a>
        </div>
        <div class="col-6 text-right head-icon pt-2">
            <!--<img src="../assets/images/bar-chart-2.svg" class="usericon-main" />-->
            <a href="setting.html"><img src="../assets/images/settings.svg" class="usericon-main" title="Settings" /></a>
            <div class="dropdown" style="width: 25px; display: inline-block;">
                <img src="../assets/images/user.svg" class="usericon-main" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="accountSetting.html" title="Account Settings">Account Settings</a>
                    <a class="dropdown-item" href="#" title="Buy Credits">Buy Credits</a>
                    <a class="dropdown-item" href="#" id="btnLogout" title="Logout">Logout</a>
                </div>
            </div>
            <label class="switch">
                <input class="APP_STATE_TOGGLE" type="checkbox" id="chkAppOnOff" checked="checked">
                <span class="slider round"></span>
            </label>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-6" style="padding-top: 18px !important; padding-left: 20px; color: rgba(71, 70, 66, 1); font-size: 16px; font-family: Roboto; ">
            <a href="dashBoard.html" style="color: black; padding-right: 8px; color: rgba(71, 70, 66, 1); font-size: 16px; ">
                <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 1L1 6L6 11" stroke="#474642" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
            </a>
            Account Settings
        </div>
        <div class="col-6 text-right" style="padding-top: 18px !important; padding-right: 10px; color: rgba(71, 70, 66, 1); font-size: 16px; font-family: Roboto; ">
            Credits: <label id="lblAvailableCredit">0</label>/<label id="lblTotalCredit">0</label>
        </div>
        <div class="col-12 p-0">
            <hr class="m-0" style="background-color: rgba(71, 70, 66, 1); margin-top: 0px !important;" />
        </div>
    </div>
    <div id="divAccountSetting">
        <div class="row" id="divErrorMessage">
            <div class="col-2">
            </div>
            <div class="col-8 alert pt-1 pb-1 mb-0">
                <label id="lblMessage" class="m-0" style="font-size:14px;"></label>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-2">
            </div>
            <div class="col-8">
                <input type="text" placeholder="Full Name" id="txtFullName" class="form-control form-textbox" />
                <label id="lblNameMessage" class="text-danger m-0" style="font-size: 14px;"></label>
            </div>
        </div>
        <div class="row text-box-top-margin">
            <div class="col-2">
            </div>
            <div class="col-8">
                <input type="text" placeholder="Email Address" id="txtEmailAddress" class="form-control form-textbox" />
                <label id="lblEmailMessage" class="text-danger m-0" style="font-size: 14px;"></label>
            </div>
        </div>
        <div class="row text-box-top-margin">
            <div class="col-2">
            </div>
            <div class="col-8">
                <input type="password" placeholder="Password" id="txtPassword" class="form-control form-textbox" />
                <label id="lblPasswordMessage" class="text-danger m-0" style="font-size: 14px;"></label>
            </div>
        </div>
        <div class="row text-box-top-margin">
            <div class="col-2">
            </div>
            <div class="col-8">
                <input type="password" placeholder="Confirm Password" id="txtConfirmPassword" class="form-control form-textbox" />
                <label id="lblConfirmPasswordMessage" class="text-danger m-0" style="font-size: 14px;"></label>
            </div>
        </div>
        <div class="row update-btn-top-margin">
            <div class="col-2">
            </div>
            <div class="col-8">
                <button id="btnUpdateAccount" class="btn btn-primary btn-update col-12">Update</button>
            </div>
        </div>
    </div>
    <div class="row mb-3 m-2 opener-footer" style="padding-bottom: 10px !important; padding-left: 1px !important; ">
        <div class="col-6" style="width: 450px; font-family: Roboto;">
            &copy; 2021 lemlinks. All Rights Reserved.
        </div>
        <div class="col-6 text-right" style="padding-right: 17px; font-family: Roboto;">
            <a href="https://pearllemonleads.com" class="footer-but-credit" style="color:#000" target="_blank">FAQs</a> / <a href="https://lemlinks.pearllemonleads.com" class="footer-but-credit" style="color:#000" target="_blank">Buy Credits</a>
        </div>
    </div>
    <div id="lemoin-overlay" style="display:none;">
        <div class="lemoin-spinner"></div>
        <br />
        Loading...
    </div>
    <div id="snackbarMessage"></div>
    <script src="../../scripts/popper.min.js"></script>
    <script src="../../scripts/jquery-3.6.0.min.js"></script>
    <script src="../../scripts/bootstrap.min.js"></script>
    <script src="../popupScrippts/utilities.js"></script>
    <script src="../popupScrippts/accountSetting.js"></script>
</body>
</html>
