<!DOCTYPE html>
<html>
<head>
    <!-- <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    /> -->
    <link href="../assets/css/main.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div class="v1_32">
        <div class="v1_33"></div>
        <div class="v1_34"></div>
        <div class="v1_35"></div>
        <div class="v1_36"></div>
        <div class="v1_37"></div>
        <div class="v1_38"></div>
        <div class="v1_52"></div>
        <div class="v1_54">
            <div class="v1_55"></div>
            <div class="v1_56"></div>
            <div class="v1_57"></div>
        </div>
        <div class="v1_58"></div>
        <div class="v1_59">
            <div class="v1_60"></div>
            <div class="v1_61"></div>
            <div class="v1_62"></div>
        </div>
        <div class="v1_63"></div>
        <div class="v1_64"></div>
        <div class="v1_65">
            <div class="v1_66"><div class="v1_67"></div></div>
            <a href="setting.html">
                <div class="v1_68"></div>
            </a>
        </div>
        <span class="v1_69">&copy; 2021 lemlinks. All Rights Reserved.</span>
        <!-- <a href="linkHighLighter.html"> -->
        <!-- <button style="cursor: pointer"> -->
        <span class="v1_70 hover-pointer" id="linkHighLighter">Link Highlighter</span>
        <!-- </button> -->
        <!-- </a> -->
        <a href="linkTyper.html"> <span class="v1_71">Link Typer</span> </a>
        <a href="linkChecker.html">
            <span class="v1_72">Link Checker</span>
        </a>
        <a href="linkOpener.html">
            <span class="v1_73">Link Opener</span>
        </a>
        <a href="myLinks.html">
            <span class="v1_74">My Links</span>
        </a>
        <span class="v1_75">FAQs / Buy Credits</span><span class="v1_76">Dashboard</span>
        <div class="v1_77"></div>
        <div class="v1_78"></div>
        <div class="v1_79"></div>
        <div class="v1_80"></div>
        <div class="v1_81"></div>
        <div class="v1_82"></div>
        <div class="v1_125"></div>
    </div>

    <script src="../../scripts/imports/js/jquery.min.js"></script>
    <script src="../popupScrippts/dashBoard.js"></script>
</body>
</html>
