<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link href="../assets/css/main.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
      <style>
          .v1_viewpassword {
              top: 340px;
          }
          .v1_hidepassword {
              top: 340px;
          }
      </style>
      <div class="v1_631">
          <div class="v1_632"></div>
          <a href="signIn.html">
              <span class="v1_633">Sign in</span>
          </a>
          <a href="signUp.html">
              <span class="v1_634">Sign up</span>
          </a>
          <div class="v1_635"></div>
          <div class="v1_636"></div>
          <span class="v1_637">Please register your account.</span>
          <div class="v1_640"><input class="input-feild" name="FirstName" type="text" placeholder="Full Name"></div>
          <div class="v1_639"><input class="input-feild" name="Email" type="email" placeholder="Email Address"></div>
          <div class="v1_638"><input class="input-feild" name="Password" type="password" placeholder="Password"></div>
          <div class="v1_viewpassword"><img src="../assets/images/eye.svg" title="View Password" /></div>
          <div class="v1_hidepassword"><img src="../assets/images/eye-off.svg" title="Hide Password" /></div>
          <div class="v1_641 hover-pointer button-click custombuttonhover"></div>
          <span class="v1_642"></span><span class="v1_643"></span><span class="v1_644"></span>
          <span class="v1_645 button-text button-click buttontextHover"><span>SIGN UP</span></span>
          <span class="v1_646">By signing up, you are agree with our Terms & Conditions</span>
          <div class="v1_647"></div>
      </div>
    <script src="../../scripts/imports/js/jquery.min.js"></script>
    <script src="../popupScrippts/emailSignUp.js"></script>
    <script src="../popupScrippts/utilities.js"></script>
  </body>
</html>
