<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
          rel="stylesheet" />
    <link href="../assets/css/main.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div class="v1_3">
        <div class="v1_4"></div>
        <a href="signIn.html" tabindex="-1">
            <span class="v1_5">Sign In</span>
        </a>
        <a href="signUp.html" tabindex="-1">
            <span class="v1_6">Sign Up</span>
        </a>
        <div class="v1_7"></div>
        <div class="v1_8"></div>
        <div class="v1_10"><input class="input-feild" name="Email" type="email" placeholder="Email Address" tabindex="1"></div>
        <div class="v1_9"><input class="input-feild" name="Password" type="password" placeholder="Password" tabindex="2"></div>
        <div class="v1_viewpassword"><img src="../assets/images/eye.png" title="View Password" /></div>
        <div class="v1_hidepassword"><img src="../assets/images/hide-eye.png" title="Hide Password" /></div>
        <div class="v1_11 hover-pointer button-click custombuttonhover"></div>
        <span class="v1_12"> Please sign in to your account.</span>
        <span class="v1_13"></span>
        <span class="v1_14"></span>
        <span class="v1_15 button-text button-click buttontextHover" tabindex="3"><span>LOGIN</span></span>
        <a href="forgetPassword.html" tabindex="-1">
            <span class="v1_16">Forgot Password?</span>
        </a>
        <span class="v1_17">Welcome back!</span>
        <div class="v1_18"></div>
    </div>
    <script src="../../scripts/imports/js/jquery.min.js"></script>
    <script src="../popupScrippts/emailSignIn.js"></script>
    <script src="../popupScrippts/utilities.js"></script>
</body>
</html>
