<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
          rel="stylesheet" />
    <link href="../assets/css/main.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <style>
        .forgot-textbox {
            top: 268px !important;
        }

        .hover-pointer {
            top: 330px !important;
        }

        .button-text {
            top: 345px !important;
        }

        .v1_660 {
            top: 380px !important;
            left: 175px !important;
        }
    </style>
    <div class="v1_19">
        <div class="v1_20"></div>
        <a href="signIn.html">
            <span class="v1_21">Sign in</span>
        </a>
        <a href="signUp.html">
            <span class="v1_22">Sign up</span>
        </a>
        <div class="v1_23"></div>
        <div class="v1_24"></div>
        <div class="v1_25"></div>
        <span class="v1_27">Please enter your email address.</span>
        <div class="v1_639 forgot-textbox"><input class="input-feild forgot-textbox" name="Email" type="email" placeholder="Email Address"></div>
        <div class="v1_641 hover-pointer button-click"></div>
        <span class="v1_645 button-text button-click"><span>SUBMIT</span></span>
        <a href="signUp.html">
            <span class="v1_660">Don&rsquo;t have an account? Create new now!</span>
        </a>
        <span class="v1_30">Reset Password</span>
        <div class="v1_31"></div>
    </div>
    <script src="../../scripts/imports/js/jquery.min.js"></script>
    <script src="../popupScrippts/utilities.js"></script>
    <script src="../popupScrippts/forgotPassword.js"></script>
</body>
</html>
