<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
          rel="stylesheet" />
    <link href="../assets/css/main.css" rel="stylesheet" />

    <title>Document</title>
</head>
<body>
    <div class="v1_83">
        <div class="v1_84"></div>
        <div class="v1_99 d-none">
            <div class="v1_100"></div>
            <div class="v1_101"></div>
            <div class="v1_102"></div>
        </div>
        <div class="v1_103"></div>
        <span class="v1_104">© 2021 lemlinks. All Rights Reserved.</span><span class="v1_105">All Links</span><span class="v1_106" id="totalHighLightedLinks">0</span><span class="v1_107">FAQs / Buy Credits</span><span class="v1_108">Link Highlighter</span><span class="v1_109">Extracted links</span>
        <div class="v1_110"></div>
        <a href="dashBoard.html">
            <div class="v1_111">
                <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 1L1 6L6 11" stroke="#474642" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
        </a>
        <div class="v1_112"></div>
        <div class="v1_113"></div>
        <div class="v1_114"></div>
        <div class="v1_115">
            <div class="v1_116"></div>
            <div class="v1_117"></div>
            <div class="v1_118"></div>
        </div>
        <div class="v1_119"></div>
        <div class="v1_120"></div>
        <div class="v1_121">
            <div class="v1_122"><div class="v1_123"></div></div>
            <a href="setting.html">
                <div class="v1_124"></div>
            </a>
        </div>
        <div class="v1_125"></div>
    </div>
    <script src="../../scripts/imports/js/jquery.min.js"></script>
    <script src="../popupScrippts/linkHighlighter.js"></script>
</body>
</html>
