<!DOCTYPE html>
<html>
<head>
    <!-- <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    /> -->
    <link href="../assets/css/main.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div class="v1_524">
        <div class="v1_525"></div>
        <div class="v1_526"></div>
        <div class="v1_527"></div>
        <div class="v1_528"></div>
        <div class="v1_529"></div>
        <div class="v1_530"></div>
        <div class="v1_531"></div>
        <div class="v1_532"></div>
        <div class="v1_533"></div>
        <div class="v1_534"></div>
        <div class="v1_535"></div>
        <div class="v1_536"></div>
        <div class="v1_537"></div>
        <div class="v1_538"></div>
        <span class="v1_539">
            Valid links<div class="loader"></div>
        </span><span class="v1_540">404 links<div class="loader"></div></span><span class="v1_541">broken links<div class="loader"></div></span><span class="v1_542">empty links<div class="loader"></div></span><span class="v1_543">redirects<div class="loader"></div></span><span class="v1_544">no domain links<div class="loader"></div></span><span class="v1_545">Server errors<div class="loader"></div></span><span class="v1_546">0</span><span class="v1_547">0</span><span class="v1_548">0</span><span class="v1_549">0</span><span class="v1_550">0</span><span class="v1_551">0</span><span class="v1_552">0</span><span class="v1_553">Link Checker</span><span class="v1_554">Extracted links</span>
        <div class="v1_555"></div>
        <a href="dashBoard.html">
            <div class="v1_556">
                <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 1L1 6L6 11" stroke="#474642" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
        </a>
        <div class="v1_557 d-none"></div>
        <span class="v1_558" style="font-size: large;"></span>
        <div class="v1_559 d-none"></div>
        <div class="v1_560 d-none"></div>
        <span class="v1_561 d-none">Unknown</span><span class="v1_562"></span><span class="v1_563">© 2021 lemlinks. All Rights Reserved.</span><span class="v1_564">FAQs / Buy Credits</span>
        <div class="v1_565">
            <div class="v1_566"></div>
            <div class="v1_567"></div>
            <div class="v1_568"></div>
            <div class="v1_569">
                <div class="v1_570"></div>
                <div class="v1_571"></div>
                <div class="v1_572"></div>
            </div>
            <div class="v1_573"></div>
            <div class="v1_574"></div>
            <div class="v1_575">
                <div class="v1_576"><div class="v1_577"></div></div>
                <a href="setting.html">
                    <div class="v1_578"></div>
                </a>
            </div>
            <div class="v1_579"></div>
        </div>
    </div>
    <script src="../../scripts/imports/js/jquery.min.js"></script>
    <script src="../popupScrippts/linkChecker.js"></script>
</body>
</html>
