<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
          rel="stylesheet" />
    <link href="../assets/css/main.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div class="v1_192">
        <div class="v1_207">
            <div class="v1_208"></div>
            <div class="v1_209"></div>
            <div class="v1_210"></div>
        </div>
        <span class="v1_211">© 2021 lemlinks. All Rights Reserved.</span><span class="v1_212">
            Press S key and the Left mouse button, then drag the selection box
            around the links you want to open. When you release the mouse button all
            the selected links will be opened as New Tabs.
        </span><span class="v1_213">FAQs / Buy Credits</span><span class="v1_214">Link Opener</span>
        <div class="v1_215"></div>
        <a href="dashBoard.html">
            <div class="v1_111">
                <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 1L1 6L6 11" stroke="#474642" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
        </a>
        <div class="v1_217"></div>
        <span class="v1_218">Type URL</span>
        <div class="v1_219">
            <div class="v1_220"></div>
            <div class="v1_221"></div>
            <div class="v1_222"></div>
            <div class="v1_223">
                <div class="v1_224"></div>
                <div class="v1_225"></div>
                <div class="v1_226"></div>
            </div>
            <div class="v1_227"></div>
            <div class="v1_228"></div>
            <div class="v1_229">
                <div class="v1_230"><div class="v1_231"></div></div>
                <a href="setting.html">
                    <div class="v1_232"></div>
                </a>
            </div>
            <div class="v1_233"></div>
        </div>
    </div>
</body>
</html>
