<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
          rel="stylesheet" />
    <link href="../assets/css/main.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div class="v1_234">
        <div class="v1_249">
            <div class="v1_250"></div>
            <div class="v1_251"></div>
            <div class="v1_252"></div>
        </div>
        <span class="v1_253">© 2021 lemlinks. All Rights Reserved.</span><span class="v1_254">FAQs / Buy Credits</span><span class="v1_255">My Links</span>
        <div class="v1_256"></div>
        <a href="dashBoard.html">
            <div class="v1_111">
                <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 1L1 6L6 11" stroke="#474642" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
        </a>
        <div class="v1_258"></div>
        <div class="v1_259"></div>
        <div class="v1_260"></div>
        <a href="validLinks.html">
            <span class="v1_261">Valid links</span>
        </a>
        <a href="sharedLinks.html"> <span class="v1_262">Shared Links</span></a>
        <a href="savedLink.html">
            <span class="v1_263">Saved links</span>
        </a>
        <div class="v1_264">
            <div class="v1_265"></div>
            <div class="v1_266"></div>
            <div class="v1_267"></div>
            <div class="v1_268">
                <div class="v1_269"></div>
                <div class="v1_270"></div>
                <div class="v1_271"></div>
            </div>
            <div class="v1_272"></div>
            <div class="v1_273"></div>
            <div class="v1_274">
                <div class="v1_275"><div class="v1_276"></div></div>
                <a href="setting.html">
                    <div class="v1_277"></div>
                </a>
            </div>
            <div class="v1_278"></div>
        </div>
    </div>
</body>
</html>
