<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
          rel="stylesheet" />
    <link href="../assets/css/main.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div class="v1_648">
        <div class="v1_649"></div>
        <span class="v1_650">Thank you! </span>
        <div class="v1_651"></div>
        <div class="v1_652">
            <span class="v1_653">We&rsquo;ve sent a reset link to your email address.</span><span class="v1_654 d-none">i</span>
            <div class="v1_655 d-none"></div>
        </div>
        <span class="v1_656">Account successfully created.</span>
        <div class="v1_657"></div>
        <a href="signIn.html"> <span class="v1_658">BACK TO SIGN IN</span> </a><span class="v1_659">By signing up, you are agree with our Terms & Conditions</span>
        <a href="signUp.html">
            <span class="v1_660">Don&rsquo;t have an account? Create new now!</span>
        </a>
        <div class="v1_661"></div>
    </div>
</body>
</html>
