<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link href="../assets/css/main.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <div class="v1_419">
      <div class="v1_434">
        <div class="v1_435"></div>
        <div class="v1_436"></div>
        <div class="v1_437"></div>
      </div>
      <span class="v1_438">© 2021 lemlinks. All Rights Reserved.</span
      ><span class="v1_439">FAQs / Buy Credits</span
      ><span class="v1_440">Settings</span>
      <div class="v1_441"></div>
      <a href="dashBoard.html">
        <div class="v1_442"></div>
      </a>
      <div class="v1_443"></div>
      <div class="v1_444"></div>
      <div class="v1_445"></div>
      <div class="v1_446"></div>
      <div class="v1_447"></div>
      <div class="v1_448"></div>
      <span class="v1_449">General Settings</span
      ><span class="v1_450">Blacklist Domains</span
      ><span class="v1_451">Blacklist Links With Words</span
      ><span class="v1_452">Extracted link file type</span
      ><span class="v1_453">Link Opener Settings</span
      ><span class="v1_454">CSV</span><span class="v1_455">New Tab</span
      ><span class="v1_456">TXT</span><span class="v1_457">New Window</span
      ><span class="v1_458">New Inognito Window</span>
      <div class="v1_459"></div>
      <span class="v1_460">Type Keyword</span>
      <div class="v1_461"></div>
      <span class="v1_462">Reset To Default</span
      ><span class="v1_463">Interval between checks</span
      ><span class="v1_464">Cache my links for one month</span
      ><span class="v1_465">Show pre-rendered URLs on Google</span
      ><span class="v1_466">Do not check No-Follow links</span
      ><span class="v1_467">?</span>
      <div class="v1_468"></div>
      <span class="v1_469">50</span><span class="v1_470">ms</span>
      <div class="v1_471"></div>
      <div class="v1_472">
        <span class="v1_473">?</span>
        <div class="v1_474"></div>
      </div>
      <div class="v1_475">
        <span class="v1_476">?</span>
        <div class="v1_477"></div>
      </div>
      <div class="v1_478">
        <span class="v1_479">?</span>
        <div class="v1_480"></div>
      </div>
      <div class="v1_481"></div>
      <div class="v1_482"></div>
      <div class="v1_483"></div>
      <div class="v1_484"></div>
      <div class="v1_485"></div>
      <div class="v1_486"></div>
      <div class="v1_487"></div>
      <div class="v1_488"></div>
      <div class="v1_489"></div>
      <div class="v1_490"></div>
      <div class="v1_491"></div>
      <span class="v1_492"
        >To stop Lemlinks on certain sites, please list the domains (one per
        line)</span
      ><span class="v1_493"
        >To stop Lemlinks with links with certain words, please list the words
        (one per line)</span
      >
      <div class="v1_494"></div>
      <div class="v1_495"></div>
      <div class="v1_496"></div>
      <div class="v1_497"></div>
      <div class="v1_498"></div>
      <span class="v1_499">Block repeated links in a task</span>
      <div class="v1_500"></div>
      <div class="v1_501">
        <div class="v1_502"></div>
        <div class="v1_503"></div>
      </div>
      <div class="v1_504">
        <div class="v1_505"></div>
        <div class="v1_506"></div>
      </div>
      <div class="v1_507"></div>
      <div class="v1_508"></div>
      <div class="v1_509">
        <div class="v1_510"></div>
        <div class="v1_511"></div>
        <div class="v1_512"></div>
        <div class="v1_513">
          <div class="v1_514"></div>
          <div class="v1_515"></div>
          <div class="v1_516"></div>
        </div>
        <div class="v1_517"></div>
        <div class="v1_518"></div>
        <div class="v1_519">
          <div class="v1_520"><div class="v1_521"></div></div>
          <div class="v1_522"></div>
        </div>
        <div class="v1_523"></div>
      </div>
    </div>
  </body>
</html>
