<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link href="../assets/css/main.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <div class="v1_328">
      <div class="v1_343">
        <div class="v1_344"></div>
        <div class="v1_345"></div>
        <div class="v1_346"></div>
      </div>
      <span class="v1_347">© 2021 lemlinks. All Rights Reserved.</span
      ><span class="v1_348">FAQs / Buy Credits</span
      ><span class="v1_349">Shared Links</span>
      <div class="v1_350"></div>
      <a href="myLinks.html">
        <div class="v1_351"></div>
      </a>
      <div class="v1_352"></div>
      <div class="v1_353"></div>
      <span class="v1_354">Kaushal</span
      ><span class="v1_355">sendkoala.com/blog</span
      ><span class="v1_356">kemistri.co</span>
      <div class="v1_357"></div>
      <div class="v1_358"></div>
      <div class="v1_359"></div>
      <div class="v1_360"><div class="v1_361"></div></div>
      <div class="v1_362"></div>
      <div class="v1_363"></div>
      <div class="v1_364"></div>
      <span class="v1_365">Clear Shared Links</span>
      <div class="v1_366"></div>
      <span class="v1_367">Type Keyword</span>
      <div class="v1_368"></div>
      <div class="v1_264">
        <div class="v1_265"></div>
        <div class="v1_266"></div>
        <div class="v1_267"></div>
        <div class="v1_268">
          <div class="v1_269"></div>
          <div class="v1_270"></div>
          <div class="v1_271"></div>
        </div>
        <div class="v1_272"></div>
        <div class="v1_273"></div>
        <div class="v1_274">
          <div class="v1_275"><div class="v1_276"></div></div>
          <a href="setting.html">
            <div class="v1_277"></div>
          </a>
        </div>
        <div class="v1_278"></div>
      </div>
    </div>
  </body>
</html>
