<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link href="../assets/css/main.css" rel="stylesheet" />
    <!-- <script src="../../scripts/jquery-3.6.0.min.js"></script> -->
    <title>Document</title>
  </head>
  <body>
    <div class="v1_713">
      <div class="v1_714"></div>
      <a href="signIn.html">
        <span class="v1_715">Get started</span>
      </a>
      <div class="v1_716"></div>
    </div>
    <!-- <script src="../popupScrippts/dashBoard.js"></script> -->
  </body>
</html>
